@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-image: url(../../img/fondo-plantas.png);
    background-size: 150em;
    background-repeat: no-repeat;
    overflow: hidden;
}

.main-container {
    display: contents;
}

.main-container > img {
    position: absolute;
    width: 95%;
}

.dot {
    position: absolute;
    height: 3.5%;
    width: 1.81093%;
    background-color: #ff8800;
    background-image: url(../../img/img-icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 2px;
    border-radius: 50%;
}

.dot-1 {
    left: 20%;
    top: 28.7%;
}

.dot-2 {
    left: 45%;
    top: 43.5%;
}

.dot-3 {
    left: 72%;
    top: 61%;
}

.dot-4 {
    left: 45%;
    top: 91.7%;
}

.description {
    position: absolute;
    width: 15%;
    height: 30%;
    background-color: #b07750;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;
}

.text {
    margin: 40px 15px 0px 15px;
}

.description-1 {
    top: 10%;
    left: 1%;
}

.description-2 {
    top: 10%;
    left: 40%;  
    height: 25%;
}

.description-3 {
    top: 48%;
    left: 76%;
}

.description-4 {
    top: 60%;
    left: 40%;
}

.dot:hover {
    background-color: transparent;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(5);
}

.dot-1:hover {
    background-image: url(../../img/partes-cafetera-aluminio.jpg);
}

.dot-2:hover {
    background-image: url(../../img/calentar-cafetera.png);
}

.dot-3:hover {
    background-image: url(../../img/servir-cafe.jpg);
}

.dot-4:hover {
    background-image: url(../../img/beber-cafe.png);
}