@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-image: url('../../img/background-granos.jpg');
}

.dark-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 252%;
}

.container {
    position: relative;
    top: 100px;
    margin: auto;
    width: 90%;
    height: fit-content;
    font-family: 'Raleway', sans-serif;
}

.container-title {
    background-color: #C87137;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 110%;
}

.container-title > h1 {
    position: relative;
    margin: 0;  
    top: 10%;
}

.container-cafe {
    position: relative;
    margin-top: 3%;
    height: 470px;
}

.container-arabico {
    float: left;
    width: 45%;
    justify-content: center;
    height: 150%;
    background-color: #8B6245;
    border-radius: 15px;
    text-align: center;
}

.container-arabico-img {
    margin: auto;
    margin-top: 3%;
    animation: rotate2 30s ease-in-out infinite;
}

.container-arabico-description {
    margin: 80px 50px;
}

.container-robusto-description {
    margin: 80px 50px;
}

.container-robusto {
    float: right;
    width: 45%;
    justify-content: center;
    height: 150%;
    background-color: #8B6245;
    border-radius: 15px;
    text-align: center;
}

.container-robusto-img {
    margin: auto;
    margin-top: 3%;
    padding-bottom: 23px;
    animation: rotate1 30s ease-in-out infinite;
}

.container-arrow {
    display: contents;
}

.container-arrow > a > img {
    position: absolute;
    bottom: -200px;
    width: 10%;
    margin-left: 0%;
    animation: arrow 1s ease-in-out infinite alternate;
}

.container2 {
    position: relative;
    margin-top: 30%;
    width: 100%;
    height: 1000px;
}

.container2-table {
    position: relative;
    top: 10%;
    left: 10%;
}

.container2-table {
    border-spacing: 20px;
    margin-top: 2%;
    table-layout: fixed;
}

.container2-table tr td {
    border: 5px solid #3B2920;
    border-radius: 15px;
    text-align: center;
    background-color: #8B6245;
    word-wrap: break-word;
}

#foto-tipo-cafe {
    width: 20em;
}

#desc-tipo-cafe {
    width: 75%;
    margin: 0;
    text-align: center;
}

#desc-tipo-cafe > p {
    width: 960px;
    margin: 30px 30px;
}

#tit-tipo-cafe {
    vertical-align: top;
    height: 0px;
}

/* Animation keyframes */

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }

}